<div *ngIf="movie">
  <h1>{{movie.title}}</h1>
  <div>{{movie.backdrop_path}}</div>
  <div>{{movie.id}}</div>
  <div>{{movie.adult}} {{movie.release_date}}</div>
  <div>{{movie.original_language}} {{movie.original_title}}</div>
  <div>{{movie.genre_ids}}</div>
  <div>{{movie.poster_path}}</div>
  <div>{{movie.video}}</div>
  <div>{{movie.vote_average}} {{movie.vote_count}} {{movie.popularity}}</div>
  <div>{{movie.overview}}</div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci autem consequuntur cupiditate dicta fugiat maxime odio quidem ratione sapiente, sunt! Laborum laudantium, nisi! A animi aperiam assumenda cumque delectus distinctio dolor dolorem ea earum enim eveniet excepturi ipsa iste itaque, nam, natus non nulla odit, optio possimus quam quisquam saepe soluta suscipit tempora unde velit. Accusamus accusantium aliquid animi beatae consequatur distinctio ea eligendi enim error esse expedita facilis fuga fugiat id in ipsam itaque laudantium maiores modi mollitia natus nemo non odio omnis possimus quae, quam quidem quisquam quod ratione reprehenderit rerum sed sequi sit tenetur ut vel. Tempora.</p>
</div>
