body {
  --bg-color: white;
  --txt-color: black;
}

body.dark-theme {
  --d-bg-color: black;
  --d-txt-color: white;
}

body {
  background: var(--d-bg-color);
  color: var(--d-txt-color);
}

button {
  background: aquamarine;
  color: black;
  border: none;
  margin: 10px;
  padding: 5px;
  display: flex;
}
