body.theme-light {
  --bg-color: white;
  --txt-color: black;
}

body.theme-dark {
  --d-bg-color: black;
  --d-txt-color: white;
}


button {
  background: aquamarine;
  color: black;
  border: none;
  margin: 10px;
  padding: 5px;
  display: flex;
}
